<button type="button" class="dropdown-item cambiar-color-c" (click)="open(ModalRegistrarEspecie)">
    <i class="fa fa-user-md font-weight-bold text-dark mr-2"></i>
      Especie
    </button>

<ng-template #ModalRegistrarEspecie let-modal>
    <form (submit)="submit()">
    <div class="modal-header">
      <div class="spinner-border mr-3" role="status" [ngStyle]="{'display':visivilidadSpinner ? 'block' : 'none'}">
        <span  class="sr-only">Loading...</span>
      </div>
      <h5 class="modal-title font-weight-bold">Registrar Especie</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="modal.close()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        
    <div class="row">
        <div class="col-12">
          <div class="col-auto">
            <label class="font-weight-bold">Nombre Especie</label>
            <div class="input-group mb-2">
              <input
                type="text"
                name="nombre"
                class="form-control input-css"
                placeholder="Ingresar nombre de la Especie"
                required
                [(ngModel)]="model.nombre"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        (click)="modal.close()"
      >
      <i class="fa fa-times-circle"></i>
        Salir
      </button>
      <button
      type="submit"
      class="btn btn-primary"
      ngbAutofocus
    >
    <i class="fa fa-save"></i>
      Registrar
    </button>
    </div>
  </form>
  </ng-template>
  