<div class="container mt-4">
    <div class="text-right mt-3">
        <a class="btn btn-outline-primary font-weight-bold" (click)="IrAlInicio()">
            <i class="fa fa-home"></i>
            Ir Al Inicio
        </a>
    </div>
    <div class="row mt-3 bg-orden pb-2 pt-2 font-weight-bold">
        <div class="col-2">
            Veteterinaria
        </div>
        <div class="col-2">
            Nombre Medico
        </div>
        <div class="col-2">
            Nombre Mascota
        </div>
        <div class="col-2">
            Nombre Perfil
        </div>
        <div class="col-2">
            Fecha
        </div>
        <div class="col-2">
            Accion
        </div>
    </div>
    <hr>
    <div class="row border mt-2 div-flotante pt-2 pb-2" *ngFor="let ordenes of ordenesRealizados">
        <div class="col-2 mt-2">
            <p>{{ordenes.nombreVeterinaria}}</p>
        </div>
        <div class="col-2 mt-2">
            <p>{{ordenes.nombreMedico}}</p>
        </div>
        <div class="col-2 mt-2">
            <p>{{ordenes.nombreMascota}}</p>
        </div>
        <div class="col-2 mt-2">
            <p>{{ordenes.nombrePerfil}}</p>
        </div>
        <div class="col-2 mt-2">
            <p>{{ordenes.fechaRegistroOrden}}</p>
        </div>
        <div class="col-2 mt-1" *ngIf="ordenes.estadoOrden==3">
            <button class="btn btn-primary btn-sm btn-flotante1 text-dark font-weight-bold bg-orden" (click)="open(ModalRegistrarResultado,ordenes.idOrden)">
                <i class="fa fa-pencil-square"></i>
                Resultado
            </button>
        </div>
        <div class="col-2 mt-1" *ngIf="ordenes.estadoOrden==1">
            <button class="btn btn-primary btn-sm btn-flotante text-white bg-orden" (click)="AceptarOrden(ordenes.idOrden)">
                <i class="fa fa-check text-success"></i>
            </button>
            <button class="btn btn-primary btn-sm btn-flotante text-white bg-orden ml-2" (click)="CancelarOrden(ordenes.idOrden)">
                <i class="fa fa-times text-danger"></i>
            </button>
        </div>
        </div>
    <br><br>
</div>

<ng-template #ModalRegistrarResultado let-modal>
    <form (submit)="submit()">
    <div class="modal-header">
      <div class="spinner-border mr-3" role="status" [ngStyle]="{'display':visivilidadSpinner ? 'block' : 'none'}">
        <span  class="sr-only">Loading...</span>
      </div>
      <h5 class="modal-title font-weight-bold">Registrar Resultado</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="modal.close()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        
    <div class="row">
        <div class="col-12">
          <div class="col-auto">
            <label class="font-weight-bold">Nombre Cargo</label>
            <div class="input-group mb-2">
              <input
                type="text"
                name="nombre"
                class="form-control input-css"
                placeholder="Ingresar el resultado"
                required
                [(ngModel)]="modelResultado.nombreResultado"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        (click)="modal.close()"
      >
      <i class="fa fa-times-circle"></i>
        Salir
      </button>
      <button
      type="submit"
      class="btn btn-primary"
      ngbAutofocus
    >
    <i class="fa fa-save"></i>
      Registrar
    </button>
    </div>
  </form>
  </ng-template>