<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href="#">Biopacific</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Servicios
        </a>
        <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
          <div class="row">
            <div class="col-1 text-center mt-4">
              <a href="#"><img [src]="'assets/img/ciempies.png'"></a>
            </div>
            <div class="col-5">
              <strong><a href="#" class="text-dark">Parasitología</a></strong> análisis a los organismos vivos parásitos
              (hospedadores y el medio ambiente)
            </div>
            <div class="col-1 mt-4">
              <img [src]="'assets/img/endocrinologia.png'">
            </div>
            <div class="col-5">
              <strong>Endocrinología</strong> análisis del sistema endocrino y las enfermedades 
              provocadas del mismo.
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-1 text-center mt-3">
              <img [src]="'assets/img/prueba-de-sangre.png'" width="34px">
            </div>
            <div class="col-5">
              <strong>Hematoligia</strong> diagnóstico, tratamiento, estudio e 
              investigación de la sangre.
            </div>
            <div class="col-1 mt-3">
              <img [src]="'assets/img/matraz.png'">
            </div>
            <div class="col-5">
              <strong>Bioquímica</strong> análisis de las proteínas, 
              carbohidratos, lípidos y ácidos nucleicos.
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Por qué Biopacific
          </a>
          <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Úbicanos</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
      <app-login></app-login>
      <app-registro></app-registro>
      </div>
    </div>
  </div>
</nav>
<app-imagenes></app-imagenes>
<app-footer></app-footer>
