<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Biopacific</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngIf="administrador=='home'">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Servicios
          </a>
          <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
            <div class="row">
              <div class="col-1 text-center mt-4">
                <a href="#"><img [src]="'assets/img/ciempies.png'"></a>
              </div>
              <div class="col-5 cambiar-color">
                <strong>Parasitología</strong> análisis a los organismos vivos parásitos
                (hospedadores y el medio ambiente)
              </div>
              <div class="col-1 mt-4">
                <img [src]="'assets/img/endocrinologia.png'">
              </div>
              <div class="col-5 cambiar-color">
                <strong>Endocrinología</strong> análisis del sistema endocrino y las enfermedades
                provocadas del mismo.
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-1 text-center mt-3">
                <img [src]="'assets/img/prueba-de-sangre.png'" width="34px">
              </div>
              <div class="col-5 cambiar-color">
                <strong>Hematoligia</strong> diagnóstico, tratamiento, estudio e
                investigación de la sangre.
              </div>
              <div class="col-1 mt-3">
                <img [src]="'assets/img/matraz.png'">
              </div>
              <div class="col-5 cambiar-color">
                <strong>Bioquímica</strong> análisis de las proteínas,
                carbohidratos, lípidos y ácidos nucleicos.
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Por qué Biopacific
          </a>
          <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Úbicanos</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="administrador=='cliente'">
        <li class="nav-item dropdown-c">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Registrar
          </a>
          <div class="dropdown-menu-c dropdown-content-c cambiar-color-c" aria-labelledby="navbarDropdown">
            <app-mascota></app-mascota>
          </div>
        </li>
        <li class="nav-item dropdown-c">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Listado
          </a>
          <div class="dropdown-menu-c dropdown-content-c" aria-labelledby="navbarDropdown">
            <app-mantenimientomascota></app-mantenimientomascota>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item cambiar-color-c" href="#">
              <img [src]="'assets/img/usuario.png'" class="mr-2">
              Medicos
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item cambiar-color-c" href="#">
              <img [src]="'assets/img/historialmedico.png'" class="mr-2">
              Ordenes
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">XD</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0" *ngIf="administrador=='home'">
        <app-login></app-login>
        <app-registro></app-registro>
      </div>
      <div class="form-inline my-2 my-lg-0" *ngIf="administrador == 'administrador' || administrador == 'cliente'">
        <button type="button" class="btn btn-outline-primary my-2 my-sm-0 font-weight-bold">
          Cerar Sesión
        </button>
      </div>
    </div>
  </div>
</nav>