<button type="button" class="dropdown-item cambiar-color-c" (click)="open(modalMedico)">
    <img [src]="'assets/img/usuario.png'" class="mr-2">
    Medico
  </button>
<ng-template #modalMedico let-modal>
  <form (submit)="submit()">
  <div class="modal-header">
    <div class="spinner-border mr-3" role="status" [ngStyle]="{'display':visivilidadSpinner ? 'block' : 'none'}">
      <span  class="sr-only">Loading...</span>
    </div>
    <h5 class="modal-title font-weight-bold">Registro de Medico</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <div class="col-auto">
          <label class="font-weight-bold">Nombre</label>
          <div class="input-group mb-2">
            <input
              type="text"
              name="nombre"
              class="form-control input-css"
              placeholder="Ingresar nombre del medico"
              required
              [(ngModel)]="model.nombre"
            />
          </div>
        </div>

        <div class="col-auto">
          <label class="font-weight-bold">Edad</label>
          <div class="input-group mb-2">
            <input
              type="number"
              name="edad"
              class="form-control input-css"
              placeholder="Ingresar la edad"
              required
              [(ngModel)]="model.edad"
            />
          </div>
        </div>

        <div class="col-auto">
          <label class="font-weight-bold">Genero
          </label>
          <div class="input-group mb-2">
            <select name="sexo" class="form-control select-css" [(ngModel)]="model.sexo">
              <option value="masculino">Masculino</option>
              <option value="femenino">Femenino</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="col-auto">
          <label class="font-weight-bold">Apellido</label>
          <div class="input-group mb-2">
            <input
              type="text"
              name="nombre"
              class="form-control input-css"
              placeholder="Ingresar apellido del medico"
              required
              [(ngModel)]="model.apellido"
            />
          </div>
        </div>

        <div class="col-auto">
          <label class="font-weight-bold">DNI</label>
          <div class="input-group mb-2">
            <input
              type="number"
              name="nombre"
              class="form-control input-css"
              placeholder="Ingresar DNI del medico"
              required
              [(ngModel)]="model.dni"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="modal.close()"
    >
      Salir
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      ngbAutofocus
    >
      Registrar
    </button>
  </div>
</form>
</ng-template>
