<app-navbar [administrador]="'administrador'"></app-navbar>
<div class="container">
    <div class="row mt-3">
        <div class="col-6">
            <div class="courses-container">
                <div class="course">
                    <img [src]="'assets/img/LineChart.PNG'" class="img-fluid rounded" width="380px">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="courses-container">
                <div class="course">
                    <div class="course-preview">
                        <img [src]="'assets/img/mascotaveterinaria.png'" class="img-fluid rounded" width="225px">
                    </div>
                    <div class="course-info">
                        <h6>Servicios realizados hoy</h6>
                        <h2>7 Servicios</h2>
                        <h6 class="mt-5">DNI</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <br>
            <div class="courses-container">
                <div class="course">
                    <div class="course-info">
                        <div class="progress-container">
                            <span class="progress-text">
                                En proceso
                            </span>
                        </div>
                        <h6>Perfil bassico</h6>
                        <h2>Medico veterinario</h2>
                        <h6 class="mt-5">DNI</h6>
                        <br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>