<button
  class="btn btn-outline-primary my-2 my-sm-0 ml-2 font-weight-bold"
  (click)="open(modalRegistro)"
>
  Registrate
</button>

<ng-template #modalRegistro let-modal>
  <form (submit)="onSubmit()">
  <div class="modal-content">
    <div class="modal-header">
      <div class="spinner-border mr-3" role="status" [ngStyle]="{'display':visivilidadSpinner ? 'block' : 'none'}">
        <span  class="sr-only">Loading...</span>
      </div>
      <h5 class="modal-title font-weight-bold">Registrarse en Biopacific</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="modal.close()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-6">
          <div class="col-auto">
            <label class="font-weight-bold">RUC</label>
            <div class="input-group mb-2">
              <input
                type="text"
                name="RUC"
                class="form-control"
                placeholder="Ingresar su RUC"
                required
                [(ngModel)]="model.RUC"
              />
            </div>
          </div>
          <div class="col-auto">
            <label class="font-weight-bold">Nombre</label>
            <div class="input-group mb-2">
              <input
                type="text"
                name="nombre"
                class="form-control"
                placeholder="Ingresar nombre veterinaria"
                required
                [(ngModel)]="model.nombre"
              />
            </div>
          </div>

          <div class="col-auto">
            <label class="font-weight-bold">Teléfono</label>
            <div class="input-group mb-2">
              <input
                type="text"
                name="telefono"
                class="form-control"
                placeholder="Ingresar su teléfono"
                required
                [(ngModel)]="model.telefono"
              />
            </div>
          </div>

          <div class="col-auto">
            <label class="font-weight-bold">Distrito</label>
            <div class="input-group mb-2">
              <select class="form-control" [(ngModel)]="model.idDistrito" name="idDistrito">
                <option *ngFor="let dis of distrito" [ngValue]="dis.idDistrito">
                  {{ dis.nombre }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-auto">
            <label class="font-weight-bold">Repetir Contraseña</label>
            <div class="input-group mb-2">
              <input
                type="password"
                class="form-control"
                placeholder="Repetir su contraseña"
                required
              />
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="col-auto">
            <label class="font-weight-bold">Dirección</label>
            <div class="input-group mb-2">
              <input
                type="text"
                name="direccion"
                class="form-control"
                placeholder="Ingresar su dirección"
                required
                [(ngModel)]="model.direccion"
              />
            </div>
          </div>

          <div class="col-auto">
            <label class="font-weight-bold">Razon Social</label>
            <div class="input-group mb-2">
              <input
                type="text"
                name="razonSocial"
                class="form-control"
                placeholder="Ingresar la razon social"
                required
                [(ngModel)]="model.razonSocial"
              />
            </div>
          </div>

          <div class="col-auto">
            <label class="font-weight-bold">Correo</label>
            <div class="input-group mb-2">
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Ingresar su correo"
                required
                [(ngModel)]="model.correo"
              />
            </div>
          </div>

          <div class="col-auto">
            <label class="font-weight-bold">Contraseña</label>
            <div class="input-group mb-2">
              <input
                type="password"
                name="contrasena"
                class="form-control"
                placeholder="Ingresar su contraseña"
                required
                [(ngModel)]="model.contrasena"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        (click)="modal.close()"
      >
      <i class="fa fa-times-circle"></i>
        Salir
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        ngbAutofocus
      >
      <i class="fa fa-save"></i>
        Registrarme
      </button>
    </div>
  </div>
</form>
</ng-template>
