<button
  type="button"
  class="btn btn-primary my-2 my-sm-0 font-weight-bold"
  (click)="open(mymodal)"
>
  Inicar sesión
</button>
<ng-template #mymodal let-modal>
  <form (submit)="submit()">
  <div class="modal-header">
    <div class="spinner-border mr-3" role="status" [ngStyle]="{'display':visivilidadSpinner ? 'block' : 'none'}">
      <span  class="sr-only">Loading...</span>
    </div>
    <h5 class="modal-title font-weight-bold">Inicio de Sesión 'Biopacific'</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-auto">
      <label class="font-weight-bold">Correo</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <img [src]="'assets/img/email.png'" class="img-fluid" />
          </div>
        </div>
        <input
          type="email"
          class="form-control"
          name="nombreUsuario"
          placeholder="Ingresar su correo o usuario"
          [(ngModel)]="model.nombreUsuario"
          required
        />
      </div>
    </div>
    <div class="col-auto">
      <label class="font-weight-bold">Contraseña</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <img [src]="'assets/img/contrasena.png'" class="img-fluid" />
          </div>
        </div>
        <input
          type="password"
          class="form-control"
          name="contrasena"
          placeholder="Ingresar su contraseña"
          [(ngModel)]="model.contrasena"
          required
        />
      </div>
    </div>
    <div class="col-auto">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          name="Remenber"
          type="checkbox"
          id="inlineCheckbox1"
          value="option1"
        />
        <label class="form-check-label font-weight-bold" for="inlineCheckbox1"
          >Recordar mi sesión</label
        >
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="modal.close()"
    >
      Salir
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      ngbAutofocus
    >
      Iniciar Sesión
    </button>
  </div>
</form>
</ng-template>
